body {
  font-size: 20px;
  line-height: 1.4;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: drop-in 1000ms;
}

.App-link {
  color: #61dafb;
}

button {
  background: #4D70B5;
  padding: 1rem;
  border: 2px solid #282c34;
  color: white;
  font-size: inherit;
}

@keyframes drop-in {
  from {
    transform:
      rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform:
      rotate(0deg) translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 1068px) {
  .App img {
    max-width: 100%;
  }
}
